<div *ngIf="type === 0" class="container">
  <form [formGroup]="chosenLevel" (ngSubmit)="onStart()">
    <div class="control-container">
      <mat-form-field>
        <mat-label>Level</mat-label>
        <mat-select disableOptionCentering>
          <mat-option value="one">Easy</mat-option>
          <mat-option value="two">Medium</mat-option>
          <mat-option value="two">Hard</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="start-button-container">
      <button mat-raised-button color="warn" class="button" type="submit">READY</button>
    </div>
  </form>

  <!-- <div class="control-container">
    <mat-form-field>
      <mat-label>Input</mat-label>
      <input matInput>
    </mat-form-field>
  </div>
  <div class="control-container">
    <mat-form-field>
      <mat-label>Select</mat-label>
      <mat-select>
        <mat-option value="one">First option</mat-option>
        <mat-option value="two">Second option</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div class="control-container">
    <mat-form-field>
      <mat-label>Textarea</mat-label>
      <textarea matInput></textarea>
    </mat-form-field>
  </div> -->
</div>

<ng-template #gameForm></ng-template>

