<div class="container" *ngIf="type === 0; else answerForm">
  <h1> CHOSE A LEVEL</h1>
  <form [formGroup]="chosenLevel" (ngSubmit)="onStart()">
    <div class="control-container">
      <mat-form-field>
        <mat-label>Level</mat-label>
        <mat-select disableOptionCentering formControlName="level">
          <mat-option value="1">Easy</mat-option>
          <mat-option value="2">Medium</mat-option>
          <mat-option value="3">Hard</mat-option>
        </mat-select>
        <mat-error *ngIf="submitted && f['level'].errors?.['required']">
          You must select before start
        </mat-error>
      </mat-form-field>
    </div>
    <div class="start-button-container">
      <button [disabled]="started" mat-raised-button color="primary" class="button" type="submit">R E A D Y</button>
      <button (click)="onReset()" mat-raised-button color="warn" class="button" type="submit">R E S E T</button>
    </div>
  </form>
</div>

<ng-template #answerForm>
  <h1> GUESS THE USER?</h1>
  <div class="container">
    <form [formGroup]="userForm" (ngSubmit)="onFinish()">
      <div class="control-container">
        <mat-form-field>
          <mat-label>Gender</mat-label>
          <mat-select disableOptionCentering placeholder="Gender" formControlName="gender">
            <mat-option value="1">Male</mat-option>
            <mat-option value="2">Female</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="control-container">
        <mat-form-field>
          <mat-label>Name</mat-label>
          <input matInput placeholder="Name" formControlName="name">
        </mat-form-field>
      </div>
      <div class="control-container">
        <mat-form-field>
          <mat-label>Age</mat-label>
          <input matInput placeholder="age" formControlName="age">
        </mat-form-field>
      </div>
      <div class="start-button-container">
        <button mat-raised-button color="primary" class="button" type="submit">S U B M I T</button>
      </div>
    </form>
  </div>
</ng-template>



<ng-template #gameForm></ng-template>

