<div class="container">
  <div class="button-container">
    <button mat-raised-button color="primary" class="button" (click)="back()">Back</button>
  </div>
  
  <div class="form-container">
    <app-form [type]="0" (startGame)="formListener($event)" (resetGame)="formListener($event)"  [iUser]="user"></app-form>
  </div>
</div>



<div *ngIf="user">
  <!-- <img [src]="user.picture?.large">
  <p *ngIf="level === '1' || level === '2' || level === '3'">{{user.gender}}</p>
  <p *ngIf="level === '2' || level === '3'">{{user.name?.first + ' ' + user.name?.last}}</p>
  <p *ngIf="level === '3'">{{user.dob?.age}}</p> -->
  
  
  <mat-card class="example-card">
    <mat-card-header>
      <mat-card-title-group>
        <mat-card-title *ngIf="level === '2' || level === '3'">{{user.name?.first + ' ' + user.name?.last}}</mat-card-title>
        <mat-card-subtitle *ngIf="level === '1' || level === '2' || level === '3'">{{user.gender}}</mat-card-subtitle>
        <img mat-card-md-image [src]="user.picture?.large">
      </mat-card-title-group>
    </mat-card-header>
    <mat-card-content>
      HI!!! I'm {{user.dob?.age}} Y.O.
    </mat-card-content>
  </mat-card>
  
</div>
